.Todo {
    flex: 0 0 calc((100% - 20px) / 3);
    padding: 20px 30px 25px;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Todo.done {
    background-color: #eee;
}
.Todo button {
    flex: 1 1 50%;
    font-size: 14px;
}
.btn-container {
    width: 100%;
    display: flex;
    gap: 10px
}
@media (max-width: 900px) {
    .btn-container {
        flex-wrap: wrap;
    }
    .Todo button {
        flex: 0 0 100%;
        font-size: 14px;
    }
}